.panel-default > .panel-heading {
	user-select: none;
	position: relative;
	.fa-chevron-down {
		color: $title-top-color;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}
.panel {
	@include wrap-block;
}
.panel-default > .panel-heading a {
	font-size: 14px;
	color: $title-top-color;
	font-weight: bold;
	// padding-bottom: 16px;

	display: block;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
	// background-color: #eee;
	color: #fff;
}

.accordion-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.panel-body {
	font-size: 14px;
	color: $title-top-color;
	padding-top: 16px;
}
