#dashboard-table_filter,
#dashboard-table_length {
	display: none;
}
.table {
	color: #fff !important;
	font-size: 14px;
	// @include wrap-block;
	background: $bg-sidebar;
	border-top: 1px solid $border-color;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	.title {
		color: $text-color-muted;
		font-size: 12px;
		// th {
		// 	color: $text-color-muted;
		// 	font-size: 12px;
		// }
	}
	thead th {
		border-bottom: none;
		border-top: none;
	}
	td {
		border-top: 1px solid $border-color;
	}
}

.close-action {
	color: $accent-color;
	padding: 4px 12px;
	border-radius: 5px;
	border: 1px solid $accent-color;
}

.opened {
	padding: 5px 10px;
	border-radius: 20px;
	background: $bg-success;
	color: #02c076;
}
.closed {
	padding: 5px 10px;
	border-radius: 20px;
	background: #443619;
	color: #f5a623;
}
.buy {
	padding: 5px 10px;
	border-radius: 20px;
	background: $bg-success;
	color: $success-text-color;
}
.sell {
	padding: 5px 10px;
	border-radius: 20px;
	background: $bg-danger;
	color: $danger-text-color;
}

.table-striped tbody tr:nth-of-type(odd) {
	background: $bg-body;
}

.page-link {
	background: transparent !important;
	border: none !important;
	color: $title-top-color !important;
	&:hover {
		color: #fff !important;
		background-color: #2a2d35 !important;
		border-radius: 5px;
	}
}
.page-link:focus {
	box-shadow: none !important;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff !important;
	background-color: #2a2d35 !important;
	border-radius: 5px;
}

#dashboard-table_wrapper .row {
	&:nth-child(3) {
		background: $bg-sidebar;
		max-width: calc(100% - 0px);
		margin: 0 auto;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}
#order-history-table-open_wrapper .row {
	&:nth-child(3) {
		background: $bg-sidebar;
		max-width: calc(100% - 0px);
		margin: 0 auto;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}

#order-history-table-closed_wrapper .row {
	&:nth-child(3) {
		background: $bg-sidebar;
		max-width: calc(100% - 0px);
		margin: 0 auto;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}

#payments-table_wrapper .row {
	&:nth-child(3) {
		background: $bg-sidebar;
		max-width: calc(100% - 0px);
		margin: 0 auto;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
}

#dashboard-table_paginate,
#payments-table_paginate,
#your-trades-table_paginate,
#order-history-table-open_paginate,
#order-history-table-closed_paginate {
	padding-top: 35px !important;
	padding-bottom: 16px !important;
}

table.dataTable {
	margin: 0 !important;
}
.trades-table-wrap {
	border-top: 1px solid #34353c;
}

#order-history-table-open_filter,
#order-history-table-closed_filter,
#payments-table_filter,
#order-history-table-open_length,
#payments-table_length,
#order-history-table-closed_length {
	display: none;
}
.dashboart-table-filter {
	display: flex;
	align-items: flex-end;
	margin-bottom: 24px;
	label {
		font-size: 12px;
		color: $title-top-color;
	}
	.btn-trades-reset {
		color: $accent-color;
		padding: 0px 15px;
		border-radius: 5px;
		border: 1px solid $accent-color;
		height: 26px;
		font-size: 14px;
		margin: 0 20px 0 30px;
		@media (max-width: 767px) {
			margin-left: 0;
		}
	}
	.btn-trades-search {
		font-size: 14px;
		@include btn-fill;
		height: 26px;
		font-weight: normal;
		border-radius: 5px;
		width: auto;
		padding: 0px 15px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-check {
		@media (max-width: 767px) {
			padding-left: 0 !important;
		}
	}
	.form-check label {
		cursor: pointer;
		@media (max-width: 767px) {
			padding-left: 0 !important;
		}
	}
	.form-check label:before {
		content: "";
		-webkit-appearance: none;
		background-color: transparent;
		border: 2px solid $accent-color;
		// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		// 	inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
		padding: 10px;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		cursor: pointer;
		margin-right: 10px;
		border-radius: 5px;
	}
	.form-check input:checked + label:after {
		content: "";
		display: block;
		position: absolute;
		top: 6px;
		left: 30px;
		width: 6px;
		height: 14px;
		border: solid $accent-color;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		@media (max-width: 767px) {
			left: 10px;
		}
	}
	.form-check input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;
	}
	.trades-export {
		cursor: pointer;
		span {
			margin-right: 10px;
			font-size: 12px;
			color: $title-top-color;
			padding-bottom: 4px;
			display: inline-block;
		}
	}
	.item {
		justify-content: space-between;
		@media (max-width: 767px) {
			justify-content: start;
		}
	}
	@media (max-width: 767px) {
		flex-direction: column;
		align-items: flex-start;
	}
}
#trades-date-filter {
	width: 130px;
	background: none;
	border: none;
	border-bottom: 1px solid $border-color;
	border-radius: 0;
	margin-right: 20px;
	color: #fff;
}
#trades-select-filter {
	width: 89px;
	background: none;
	border: none;
	border-bottom: 1px solid $border-color;
	border-radius: 0;
	color: #fff;
	padding-left: 0;
}

.order-history {
	.nav-tabs {
		border-bottom: 1px solid $border-color;
		margin-bottom: 24px;
		.nav-link {
			color: $title-top-color;
			font-size: 18px;
			border: none;
			padding: 0 0 10px 0;
			border-bottom: 1px solid transparent;
			margin-right: 45px;
			&.active {
				background: none;
				color: #fff;
				font-weight: bold;
				border-bottom-color: $accent-color;
			}
			@media (max-width: 767px) {
				margin-right: 24px;
			}
		}
	}
}

.payments-table-wrap {
	margin-top: 340px;
	.payments-export {
		span {
			font-weight: bold;
			font-size: 14px;
			color: #fff;
		}
		img {
			margin-left: 10px;
		}
	}
	// @media (max-width: 767px) {
	// 	mt320
	// }
}

@media (max-width: 910px) {
	.dataTables_wrapper {
		width: 840px;
	}
	.dashboart-table,
	.trades-table {
		overflow-y: hidden;
		white-space: nowrap;
	}
}
