$bg-body: #181a20;

$bg-sidebar: #23252b;
$bg-success: #173630;
$bg-danger: #3C242C;
$border-color: #34353c;
$accent-color: #f5a623;

$title-top-color: #848e9c;
$text-color-muted: #90929a;
$success-text-color:#02C076;
$danger-text-color:#F84960;





